In [1]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns
import numpy as np
import sys
sys.path.append("../")
from sklearn.metrics import  mean_squared_error

from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn import preprocessing

https://www.interactivechaos.com/python/function/labelencoder

In [118]:
df = pd.read_csv('../data/train.csv')

In [119]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   0.53  Very Good     G     SI1   63.4   54.0  5.09  5.13  3.24  7.057
1   1   0.41      Ideal     D     SI1   63.0   56.0  4.80  4.75  3.01  6.824
2   2   0.32      Ideal     I     VS2   61.6   56.0  4.37  4.39  2.70  6.107
3   3   0.31      Ideal     H    VVS2   61.2   56.0  4.34  4.37  2.66  6.390
4   4   1.35    Premium     J     VS2   60.5   56.0  7.19  7.12  4.33  8.741

In [120]:
le = preprocessing.LabelEncoder()

In [121]:
cut = le.fit_transform(df.cut)

In [71]:
cut

array([4, 2, 2, ..., 4, 0, 2])

In [122]:
df.cut = cut

In [123]:
color = le.fit_transform(df.color)

In [124]:
df.color = color

In [125]:
clarity = le.fit_transform(df.clarity)

In [126]:
df.clarity = clarity

# Data test

In [127]:
df_test = pd.read_csv('../data/test.csv')

In [128]:
df_test.shape

(13485, 10)

In [129]:
le = preprocessing.LabelEncoder()

cut = le.fit_transform(df_test.cut)

df_test.cut = cut

color = le.fit_transform(df_test.color)

df_test.color = color

clarity = le.fit_transform(df_test.clarity)

df_test.clarity = clarity

In [130]:
df_test.head()

   id  carat  cut  color  clarity  depth  table     x     y     z
0   0   0.33    2      4        1   61.9   55.0  4.44  4.42  2.74
1   1   0.41    2      1        5   61.8   54.0  4.79  4.76  2.95
2   2   0.91    4      1        3   62.5   59.0  6.16  6.23  3.87
3   3   0.42    4      3        5   62.6   57.0  4.76  4.80  2.99
4   4   0.54    2      3        1   61.5   56.0  5.28  5.25  3.24

# fin

# Pruebas

In [131]:
X = df.drop("price", axis=1)
y = df.price

#  RandomForestRegressor()

In [132]:
rf = RandomForestRegressor()

In [133]:
rf.fit(
    X,
    y
)

RandomForestRegressor()

In [134]:
y_predict = rf.predict(X)

In [135]:
mean_squared_error(
    y_true =y,
    y_pred = y_predict
)

0.0011869787669731807

# Haciendo predicción

In [136]:
y_predict = rf.predict(df_test)

In [143]:
y_predict.shape

(13485,)

In [144]:
data = pd.DataFrame({'price': y_predict})

In [145]:
data

         price
0      6.83530
1      6.91309
2      8.26078
3      6.77141
4      7.68458
...        ...
13480  7.32155
13481  8.65576
13482  6.73198
13483  7.24093
13484  8.11969

[13485 rows x 1 columns]

In [146]:
data = data.rename_axis('id').reset_index()

In [147]:
data.set_index('id',inplace = True)

In [149]:
data.head()

      price
id
0   6.83530
1   6.91309
2   8.26078
3   6.77141
4   7.68458

In [150]:
data.to_csv("../data/sample_submission4.csv")

# DecisionTreeRegressor

In [82]:
gs = GridSearchCV(
    estimator=DecisionTreeRegressor(),
    param_grid={
        "max_depth": [2, 4, 6, 8, 10, 12],
        "min_samples_split": [10, 50, 100, 200, 300, 500, 1000],
    },
    cv=5,
   
)

In [83]:
gs.fit(X, y)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': [2, 4, 6, 8, 10, 12],
                         'min_samples_split': [10, 50, 100, 200, 300, 500,
                                               1000]})

In [84]:
best_model = gs.best_estimator_
best_model

DecisionTreeRegressor(max_depth=12, min_samples_split=10)

In [85]:
mean_squared_error(gs.best_estimator_.predict(X), y)

0.008622699929443393

# KNeighborsRegressor

In [86]:
n_neighbors = np.arange(1,10)

model = KNeighborsRegressor()

parameter_space = {'n_neighbors': n_neighbors,
                   }

grid_search = GridSearchCV(model,
                           param_grid=parameter_space,
                           cv=5)

In [87]:
grid_search.fit(X, y)

GridSearchCV(cv=5, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([1, 2, 3, 4, 5, 6, 7, 8, 9])})

In [88]:
best_knn = grid_search.best_estimator_
best_knn

KNeighborsRegressor(n_neighbors=6)

In [89]:
y_p = best_knn.predict(X)

In [90]:
mean_squared_error(
    y_true =y,
    y_pred = y_p
)

0.022473548774358344