In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns
import sys
sys.path.append("../")
from sklearn.metrics import  mean_squared_error

In [4]:
df = pd.read_csv('../data/train_clean.csv')

In [13]:
#df_test = pd.read_csv('../data/test_clean.csv')

In [33]:
df.head()

   id  carat  cut  color  clarity  depth  table     x     y     z  price
0   0   0.53    3      4        2   63.4   54.0  5.09  5.13  3.24  7.057
1   1   0.41    5      6        2   63.0   56.0  4.80  4.75  3.01  6.824
2   2   0.32    5      1        3   61.6   56.0  4.37  4.39  2.70  6.107
3   3   0.31    5      2        5   61.2   56.0  4.34  4.37  2.66  6.390
4   4   1.35    4      0        3   60.5   56.0  7.19  7.12  4.33  8.741

In [5]:
X_train, X_test, y_train, y_test = train_test_split(
    df.drop("price", axis=1),
    df.price, 
    test_size=0.2
)

In [6]:
lr = LinearRegression()

In [7]:
lr.fit(
    X_train,
    y_train
)

LinearRegression()

In [8]:
y_train_predict = lr.predict(X_train)

In [10]:
mean_squared_error(
    y_true=y_train,
    y_pred=y_train_predict
)

0.0398906450390598

# Entrenamos con todo el dataset de train

In [40]:
X = df.drop("price", axis=1)
y =  df.price

In [41]:
lr.fit(
    X,y
)

LinearRegression()

In [37]:
y_predict = lr.predict(df.drop("price", axis=1))

In [45]:
mean_squared_error(
    y_true = y,
    y_pred = y_predict
)

0.038515158980505726